WebContent/wsdl/CatalogProductBindingImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://CatalogProductService.sky.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://CatalogProductService.sky.com" xmlns:intf="http://CatalogProductService.sky.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://CatalogProductService.sky.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getCatalogProduct">
    <complexType>
     <sequence>
      <element name="in" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCatalogProductResponse">
    <complexType>
     <sequence>
      <element name="getCatalogProductReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCatalogProductRequest">

      <wsdl:part element="impl:getCatalogProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCatalogProductResponse">

      <wsdl:part element="impl:getCatalogProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CatalogProductBindingImpl">

      <wsdl:operation name="getCatalogProduct">

         <wsdl:input message="impl:getCatalogProductRequest" name="getCatalogProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCatalogProductResponse" name="getCatalogProductResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CatalogProductBindingImplSoapBinding" type="impl:CatalogProductBindingImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCatalogProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCatalogProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCatalogProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CatalogProductBindingImplService">

      <wsdl:port binding="impl:CatalogProductBindingImplSoapBinding" name="CatalogProductBindingImpl">

         <wsdlsoap:address location="http://localhost:8080/SKY/services/CatalogProductBindingImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
